<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../../node_modules/semantic-ui/dist/semantic.min.css">
</head>
<body>
    <div class="container"></div>
    <script type="text/babel">
        window.onload = function () {
            var data = [
                {
                    author: "zhangsan",
                    comment: "hahaha"
                },
                {
                    author: "zhangsan",
                    comment: "hahaha"
                },
                {
                    author: "zhangsan",
                    comment: "hahaha"
                },
                {
                    author: "zhangsan",
                    comment: "hahaha"
                },
                {
                    author: "zhangsan",
                    comment: "hahaha"
                }
            ];
            var Comment = React.createClass({
                render: function () {
                    return (
                        <div className="comment">
                            <div className="content">
                                <a className="author">{this.props.comment.author}</a>
                                <div className="metadata">
                                    <span className="date">Today at 5:42PM</span>
                                </div>
                                <div className="text">
                                    {this.props.comment.comment}
                                </div>
                                <div className="actions">
                                    <a className="reply">Reply</a>
                                </div>
                            </div>
                        </div>
                    );
                }
            });
            var CommentList = React.createClass({
                render: function () {
                    var createComment = function (comment) {
                        return <Comment comment={comment} />;
                    };
                    return (
                        <div className="comment-list">
                            {this.props.data.map(createComment)}
                        </div>
                    );
                }
            });
            var CommentForm = React.createClass({
                getInitialState: function () {
                    return {
                        text: "hehehe"
                    };
                },
                updateText: function (e) {
                    this.setState({text: e.target.value});
                },
                commentText: function (e) {
                    var self = this;
                    console.log(self.refs)
                    self.props.updateStateData({
                        author: "zhangsan",
                        comment: self.refs.commentContent.value
                    });
                    self.refs.commentContent.value = "";
                },
                render: function () {
                    var self = this;
                    return (
                        <div className="comment-form ui reply form">
                            <div className="field">
                                <textarea onChange={self.updateText} ref="commentContent">{self.state.text}</textarea>
                            </div>
                            <div className="ui blue labeled submit icon button" onClick={self.commentText}>
                                <i className="icon edit"></i> Add Reply
                            </div>
                        </div>
                    );
                }
            });
            var CommentBox = React.createClass({
                getInitialState: function () {
                    return {
                        data: data
                    }
                },
                updateStateData: function (options) {
                    var self = this;
                    self.setState({
                        data: self.state.data.concat([options])
                    });
                },
                render: function () {
                    return (
                        <div className="comment-box main ui comments">
                            <h3 className="ui dividing header">{this.props.title}</h3>
                            <CommentList data={this.state.data} />
                            <CommentForm updateStateData={this.updateStateData}/>
                        </div>
                    );
                }
            });
            ReactDOM.render(
                <CommentBox title="评论框" />,
                document.querySelector(".container")
            );
        };
    </script>
    <script src="../../build/react.js"></script>
    <script src="../../build/react-dom.js"></script>
    <script src="../../build/browser.min.js"></script>
    <script src="../../node_modules/semantic-ui/dist/semantic.min.css"></script>
</body>
</html>
