<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../../node_modules/semantic-ui/dist/semantic.min.css">
</head>
<body>
<div class="container"></div>
<script type="text/babel">
    window.onload = function () {
        var products = [
            {
                name: "Basketball1",
                price: "11",
                storeNum: 0
            },
            {
                name: "Basketball2",
                price: "11",
                storeNum: 2
            },
            {
                name: "Basketball3",
                price: "11",
                storeNum: 0
            },
            {
                name: "Basketball4",
                price: "11",
                storeNum: 3
            },
            {
                name: "Basketball1",
                price: "11",
                storeNum: 4
            },
            {
                name: "Basketball2",
                price: "11",
                storeNum: 0
            },
            {
                name: "Basketball3",
                price: "11",
                storeNum: 5
            },
            {
                name: "Basketball4",
                price: "11",
                storeNum: 10
            },
            {
                name: "Basketball1",
                price: "11",
                storeNum: 10
            },
            {
                name: "Basketball2",
                price: "11",
                storeNum: 5
            },
            {
                name: "Basketball3",
                price: "11",
                storeNum: 6
            },
            {
                name: "Basketball4",
                price: "11",
                storeNum: 10
            },
            {
                name: "Basketball1",
                price: "11",
                storeNum: 10
            },
            {
                name: "Basketball2",
                price: "11",
                storeNum: 5
            },
            {
                name: "Basketball3",
                price: "11",
                storeNum: 0
            },
            {
                name: "Basketball4",
                price: "11",
                storeNum: 0
            }
        ];
        var Search = React.createClass({
            filterList: function (e) {
                var self = this;
                self.props.filterList(e.target.value);
            },
            toggleShowAll: function (e) {
                var self = this;
                self.props.toggleShowAll();
            },
            render: function () {
                var self = this;
                return (
                    <div className="search">
                        <div className="field">
                            <input type="text" name="" onChange={self.filterList} />
                        </div>
                        <div className="inline field">
                            <div className="ui checkbox">
                                <input type="checkbox" name="checkbox" value="" checked={self.props.param.isShowStore} onChange={self.toggleShowAll} />
                                <label htmlFor="checkbox">仅显示仓库中有的商品</label>
                            </div>
                        </div>
                    </div>
                );
            }
        });
        var Product = React.createClass({
            render: function () {
                var self = this;
                return (
                    <tr className="product">
                        <td>{self.props.product.name}</td>
                        <td>${self.props.product.price}</td>
                        <td>{self.props.product.storeNum}</td>
                    </tr>
                );
            }
        });
        var ProductList = React.createClass({
            product : function (product) {
                var self = this,
                    keyWord = self.props.param.keyWord,
                    isShowStore = self.props.param.isShowStore;
                if (product.name.indexOf(keyWord) > -1) {
                    if (isShowStore) {
                        if (product.storeNum !== 0) {
                            return (
                                    < Product
                            product = {product} / >
                        )
                            ;
                        }
                    } else {
                        return (
                                < Product
                        product = {product} / >
                    )
                        ;
                    }
                }
            },
            render: function () {
                var self = this;
                return (
                    <table className="product-list ui very basic table">
                        <thead>
                            <tr>
                                <th>
                                    Products
                                </th>
                                <th>
                                    Price
                                </th>
                                <th>
                                    Store
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {self.props.products.map(self.product)}
                        </tbody>
                    </table>
                );
            }
        });
        var SearchBox = React.createClass({
            getInitialState: function () {
                var self = this;
                return {
                    keyWord: "",
                    isShowStore: false
                };
            },
            filterList: function (key) {
                var self = this;
                if (!!key || key === "") {
                    self.setState({
                        keyWord: key
                    });
                }
            },
            toggleShowAll: function () {
                var self = this;
                self.setState({
                    isShowStore: !self.state.isShowStore
                });
            },
            render: function () {
                var self = this;
                return (
                    <div className="search-box ui form">
                        <h3>搜索</h3>
                        <Search param={self.state} filterList={self.filterList} toggleShowAll={self.toggleShowAll} />
                        <h3>列表</h3>
                        <ProductList products={products} param={self.state}/>
                    </div>
                );
            }
        });
        ReactDOM.render(
            <SearchBox />,
            document.querySelector(".container")
        );
    };
</script>
<script src="../../build/react.js"></script>
<script src="../../build/react-dom.js"></script>
<script src="../../build/browser.min.js"></script>
<script src="../../build/jquery.js"></script>
<script src="../../node_modules/semantic-ui/dist/semantic.min.css"></script>
</body>
</html>
